    .benefitsSection {
        width: 100%;
        padding: 0 8.4375%;
        margin: 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 135px;
    }
    
    .benefitsTitleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
    }
    
    .benefitsContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 85px;
    }
    
    @media (max-width: 1440px) {
        .benefitsSection {
            margin: 150px 0;
            gap: 108px;
            padding: 0px 5.5555%;
        }
        .benefitsContainer {
            row-gap: 68px;
        }
        .benefitCard {
            width: 31.25%;
            padding: 60px 40px 40px 40px;
            box-shadow: 4px 4px 0px 2px #1E1E1E;
        }
        .benefitCardImg {
            width: 56px;
            height: 56px;
        }
        .benefitCardContent {
            gap: 16px;
        }
        .benefitCardTitle {
            font-size: 24px;
        }
        .benefitCardText {
            font-size: 16px;
        }
    }
    
    @media (max-width: 992px) {
        .benefitsSection {
            margin: 80px 0;
            gap: 78px;
            padding: 0px 4.1025%;
        }
        .benefitsContainer {
            row-gap: 68px;
        }
        .benefitCard {
            width: 100%;
            padding: 50px 40px 30px 30px;
            box-shadow: 4px 4px 0px 1px #1E1E1E;
        }
        .benefitCardTitle {
            font-size: 22px;
        }
        .benefitCardText {
            font-size: 16px;
        }
    }